.income-table-container {
  margin: 20px auto;
  width: 90%;
  /* background: #fff; */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.income-table {
  width: 100%;
  border-collapse: collapse;
}

.income-table th, .income-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
