body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: antiquewhite;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Segoe UI', sans-serif;
}

.signup-container {     

  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 100%;
  max-width: 300px;
}

span{
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.logo-circle {
  width: 40px;
  height: 40px;
  background: linear-gradient(135deg, #4facfe, #9b59b6);
  border-radius: 50%;
}

.logo span {
  color: #fff;
  font-size: 32px;
  margin-left: 10px;
}

h2 {
  color: #fff;
  margin-bottom: 30px;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  outline: none;
}

input::placeholder {
  color: #ccc;
}

button {
  width: 100%;
  padding: 12px;
  margin-top: 20px;
  border: none;
  border-radius: 25px;
  background: linear-gradient(90deg, #4facfe, #9b59b6);
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

p {
  color: #bbb;
  margin-top: 15px;
  font-size: 14px;
}

p a {
  color: #4facfe;
  text-decoration: none;
}